:root{

  /* COLORS */

  --color-black:#000000;
  --color-black-soft:#111111;

  --color-white:#ffffff;

  --color-gray-50:#fafafa;
  --color-gray-100:#f5f5f5;
  --color-gray-200:#efefef;
  --color-gray-300:#d1d5db;
  --color-gray-500:#6b7280;

  --color-accent:#6366f1;

  /* TYPOGRAPHY */

  --font-heading:"Poppins",sans-serif;
  --font-body:"Inter",sans-serif;

  /* WIDTH */

  --container-width:1200px;

  /* RADIUS */

  --radius-sm:12px;
  --radius-md:20px;
  --radius-lg:32px;
  --radius-pill:999px;

  /* SHADOW */

  --shadow-sm:0 8px 24px rgba(0,0,0,.06);

  --shadow-md:0 16px 40px rgba(0,0,0,.08);

  --shadow-lg:0 24px 80px rgba(0,0,0,.12);

  /* TRANSITION */

  --transition:.35s ease;

}